@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --backgroundTransparentPrimary: rgba(0, 0, 0, .5);
  --backgroundTransparentSecondary: rgba(0, 0, 0, .3);

  --borderColorPrimary: rgba(255, 255, 255, .3);
  --borderColorSecondary: rgba(255, 255, 255, .3);

  --textAccentColor: #43DFD7;
  --textSecondaryColor: rgba(255, 255, 255, .8);
}

html,
body {
  @apply bg-white dark:bg-gray-500;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body{
  background-color: #11151C;
  min-height: 100dvh;
}

button{
  cursor: pointer;
}
.button{
  will-change: filter;
  transition: all .15s ease-in-out;
}
.button:hover{
  filter: brightness(.8);
}

img{
  object-fit: cover;
  user-select: none;
  -webkit-user-select: none;
}

/* HEADER */
header h1, footer h2{
  font-size: max(20px, 1.5rem);
}
header .content div{
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 10px;
  border: 1px solid var(--borderColorSecondary);
  outline: none;
  font-size: max(12px, .9rem);
}
header .content div input{
  height: 100% !important;
  padding: 8px 10px;
  outline: none;
}
header .content div:focus-within{
  border-color: var(--textAccentColor);
  background-color: rgba(19, 92, 88, 0.2);
}
header .content div button{
  padding: 7px;
  will-change: transform;
  outline: none;
  transition: all .15s ease;
}
header .content div button:hover{
  filter: brightness(.8);
  transform: scale(1.1);
}
header input::placeholder{
  font-weight: 300;
}

  /* GLASS */
.liquidGlass-wrapper {
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}
.liquidGlass-effect {
  position: absolute;
  z-index: 0;
  inset: 0;
  backdrop-filter: blur(18px);
  filter: url(#glass-distortion);
  overflow: hidden;
  isolation: isolate;
}
.liquidGlass-tint {
  z-index: 1;
  position: absolute;
  inset: 0;
  background: rgba(16, 15, 20, 0.2);
}
.liquidGlass-shine {
  position: absolute;
  inset: 0;
  z-index: 2;
  overflow: hidden;
}
.liquidGlass-text {
  z-index: 3;
}
  /* GLASS */
/* HEADER */

/* FOOTER */
footer .followUs h2{
  font-size: max(14px, 1.2rem);
}
/* FOOTER */
.movieHolder{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: 30px;
  margin-top: 1rem;
}
/* TOP5 */
#top5{
  margin-inline: auto;
  inset-inline: 0;
}
#top5 .title{
  width: 100%;
}
#top5 .movieHolder .topMovie{
  position: relative;
  width: 100%;
  aspect-ratio: 3/4.4;
}
#top5 .movieHolder .topMovie h2{
  position: absolute;
  right: -15px;
  bottom: -30px;
  z-index: 101;
  font-size: clamp(20px, 7rem, 8rem);
  line-height: clamp(20px, 7rem, 8rem);
  font-weight: 700;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}
#top5 .movieHolder .topMovie h2{
  background-clip: text;
  color: transparent
}
#top5 .movieHolder .topMovie:first-child h2{
  background-image: linear-gradient(135deg, #FFFFFF, #FFD21D);
  filter: drop-shadow(0 0 5px #DFC843);
}
#top5 .movieHolder .topMovie:nth-child(2) h2{
  background-image: linear-gradient(135deg, #FFFFFF, #BFBFBF);
  filter: drop-shadow(0 0 5px #BFBFBF);
}
#top5 .movieHolder .topMovie:nth-child(3) h2{
  background-image: linear-gradient(135deg, #FFFFFF, #C87125);
  filter: drop-shadow(0 0 5px #C87125);
}
#top5 .movieHolder .topMovie:nth-child(4) h2{
  background-image: linear-gradient(135deg, #FFFFFF, #C7FFFC);
  filter: drop-shadow(0 0 5px #C7FFFC);
}
#top5 .movieHolder .topMovie:nth-child(5) h2{
  background-image: linear-gradient(135deg, #FFFFFF, #C7FFFC);
  filter: drop-shadow(0 0 5px #C7FFFC);
}
/* TOP5 */

/* TRENDING */
#trending .movieHolder .movieCard{
  flex-basis: 20%;
}
/* TRENDING */

/* MOVIE CARD */
.movieCard{
  border-radius: 15px;
  aspect-ratio: 3/4.4;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 100;
  border: 1px solid var(--borderColorPrimary);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  cursor: pointer;
  transition: all .15s ease-in-out;
}
#top5 .movieCard{
  width: 100%;
}
.movieCard:hover{
  border-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 0 #43dfd760;
}
.movieCard img{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  will-change: transform;
  transition: transform .15s ease;
}
.movieCard:hover img{
  transform: scale3d(1.09, 1.09, 1);
}
.type{
  padding: 4px 15px;
  border-radius: 20px;
  font-size: .8rem;
  text-align: center;
  background-color: #5B3B02;
}
.type.series{
  background-color: #03405A;
}
.movieCard .type{
  font-size: 10px;
}
.bottomShadow{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 35%;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(0, rgb(0, 0, 0), rgba(0, 0, 0, .8), transparent);
}
.movieCard .topShadow{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 35%;
  width: 100%;
  z-index: -1;
  transition: opacity .2s ease-in-out;
  background-image: linear-gradient(0, transparent, rgba(0, 0, 0, 0.75));
}
.movieCard:hover .topShadow{
  opacity: 1;
}
.movieCard .moreInfo{
  top: calc(100% - 77px);
  background-color: rgba(0, 0, 0, 0);
  padding: 15px;
  transition: all .2s ease-in-out;
}
.movieCard .moreInfo h3{
  font-size: clamp(15px, 1.1rem, 1.2rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: max(20px, 1.5rem);
  margin-bottom: 5px;
  max-width: 83%;
}
.movieCard .moreInfo p{
  font-size: .75rem;
}

.movieCard .bookmark{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
  top: 12px;
  right: 12px;
  opacity: 0;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  background-color: var(--textAccentColor);
  pointer-events: none;
  transform: translate3d(20px, -20px, 0) scale3d(.2, .2, 1);
}
.movieCard:hover .bookmark{
  opacity: 1;
  pointer-events: all;
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
}
/* MOVIE CARD */

/* MOVIES HOLDER */
main{
  height: fit-content;
  padding-block: 100px;
  padding-inline: 40px;
}
#moviesHolder .title{
  display: flex;
  align-items: center;
  gap: 10px;
}
#moviesHolder .title h2{
  font-size: max(15px, 1.4rem);
  font-weight: 500;
}

.movieSection + .movieSection{
  margin-top: 50px;
}
/* MOVIES HOLDER */

/* MOVIE PAGE */
.movieInfoHolder{
  display: flex;
  flex-direction: column;
}

.movieInfoHolder .bannerHolder{
  flex-shrink: 0;
}
.movieInfoHolder .bannerHolder img{
  width: 300px;
  aspect-ratio: 3/4.3;
  border-radius: 20px;
  border: 1px solid var(--borderColorPrimary);
}
.movieInfoHolder .bannerHolder .rating{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.movieInfoHolder .bannerHolder .rating .progress{
  border-radius: 50%;
  z-index: 0;
  background-color: var(--textAccentColor);
}
.movieInfoHolder .bannerHolder .rating p{
  z-index: 1;
  background-color: #11151C;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: clamp(12px, 1rem, 1.2rem);
  font-weight: 300;
}

.movieInfoHolder .importantHolder > h2{
  font-size: 2rem;
  font-weight: 600;
}
.movieInfoHolder .importantHolder .infoPart{
  display: inline-flex;
  padding-left: 10px;
  gap: 10px;
  border-left: 1px solid white;
  margin-left: 10px;
}
.movieInfoHolder .importantHolder .infoPart .type{
  background-color: #472424;
  border: 1px solid var(--borderColorPrimary);
  padding-block: 3px;
}
.movieInfoHolder .importantHolder .infoPart.genre .type{
  background-color: rgba(100, 100, 100, .3);
}
.movieInfoHolder .importantHolder .infoChild{
  border: 1px solid var(--borderColorPrimary);
}

.movieInfoHolder .importantHolder .buttonHolder{
  display: flex;
  padding-block: 10px;
  gap: 15px;
}
.movieInfoHolder .importantHolder .buttonHolder button{
  display: flex;
  align-items: center;
  padding: 5px 15px;
  gap: 10px;
  color: black;
  font-weight: 500;
  border-radius: 30px;
}
.movieInfoHolder .importantHolder .buttonHolder button.addToWatchlist{
  background-color: var(--textAccentColor);
}
.movieInfoHolder .importantHolder .buttonHolder button.rateMovie{
  background-color: #DFCD43;
}

.movieInfoHolder .importantHolder .description{
  font-size: clamp(12px, 1.1rem, 1.2rem);
  color: var(--textSecondaryColor);
  margin-top: 10px;
  overflow: hidden;
}

.movieInfoHolder .castButton{
  display: flex;
  font-size: clamp(15px, 1.5rem, 1.5rem);
  align-items: center;
  gap: 15px;
  margin-block: 10px;
}
.movieInfoHolder .cast{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: fit-content;
}

.movieInfoHolder .castItem{
  display: flex;
  gap: 20px;
  align-items: center;
}
.movieInfoHolder .castItem img{
  background-color: var(--backgroundTransparentPrimary);
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 10px;
}
.movieInfoHolder .castItem h3{
  font-size: 1.2rem;
  line-height: 1.3rem;
  font-weight: 500;
}
.movieInfoHolder .castItem p{
  font-size: .85rem;
  line-height: .95rem;
  color: var(--textAccentColor);
}

.similarMovies .content{
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: flex-start;
  overflow: visible;
}
.similarMovies .content .contentItem{
  width: 400px;
  flex-shrink: 0;
  height: 200px;
  border-radius: 20px;
  border: 1px solid var(--borderColorPrimary);
  position: relative;
  place-content: end;
  overflow: hidden;
  background-color: #03405A;
}
.similarMovies .content .contentItem img{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.similarMovies .content .contentItem > span{
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
}
.similarMovies .content .contentItem h3{
  font-size: clamp(15px, 1.2rem, 1.2rem);
  font-weight: 500;
  z-index: 1;
  position: relative;
}
.similarMovies .content .contentItem .type{
  z-index: 1;
  padding-block: 2px;
  font-weight: 300;
}
.similarMovies .content .contentItem .bottomShadow{
  z-index: 0;
  /* background-image: linear-gradient(0, rgba(0, 0, 0, 1), transparent); */
}
.similarMovies .rightShadow{
  position: absolute;
  right: 0;
  height: 200px;
  width: min(12%, 200px);
  transform: translateY(-100%);
  background-image: linear-gradient(90deg, transparent, black);
  z-index: 1;
}

.similarMovies .navigation{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: calc(100% + 46px);
  left: -23px;
  justify-content: space-between;
  z-index: 2;
}
.similarMovies .navigation button{
  width: 45px;
  height: 45px;
  display: grid;
  place-items: center;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .5);
}
/* MOVIE PAGE */